*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f6f8f9;
}

.container {
    background-color: #fff;
    padding: 10px 0px 10px 20px;  
    line-height: 50px;

}

.container > img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}