/* inizio proprietà generali */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body{
    background-color: #f6f8f9;
}
/* fine proprietà generali */

/* inizio proprietà intestazione */
.container-head {
    background-color: #fff;
    padding: 10px 0px 10px 20px;  
    line-height: 50px;

}

.container-head > img{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
/* fine proprietà intestazione */

/* inizio sezione proncipale */
.container{
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 10px 50px;
}

.container.button{
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
}

.container.button > button{
    padding: 5px;
    border-radius: 5px;    
}

#task-btn{
    background-color: #47adf1;
    color: white;
    border: none;
}

#section-btn{
    background-color: white;
    color: #e3e6e8;
    border: 1px solid #e3e6e8;
}

.container.main-list{
    margin-top: 5px;
    color: #444851;
}

ul li::marker{
    content: '\22BF';
}

.li-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.point{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin: 10px 5px 10px 0;
}

.point.done{
    color: #85cdbc;
    border: 1px solid #85cdbc;
}

.point.not-done{
    color: #f18781;
    border: 1px solid #f18781;
}

.point-tag{
    font-size: 12px;
    color: white;
    padding: 7px 14px;
    border-radius: 10px;
    vertical-align: middle;
}

.point-tag.editorial{
    background-color: #45abea;
}

.point-tag.q1-goals{
    background-color: #9c72e4;
}

.point-tag.recruiting{
    background-color: #64c0a9;
}

.point-tag.mobile{
    background-color: #f29e33;
}

.point-tag.website{
    background-color: #d863a1;
}

.point-tag.sales{
    background-color: #b0c926;
}

ul{
    margin-bottom: 20px;
}

/* fine sezione principale */